* {
    margin: 0;
    padding: 0;
    border: none;
}

.main {
    display: flex;
    justify-content: center;

    height: 100vh;
    background-color: #2f3e85;
}

.container {
    width: 500px;
    background-color: #fff;
}